.header {
  display: flex;
  align-items: center;
  padding: 32px;
}
.logo-s {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.search {
  width: 300px;
  height: 55px;
  max-width: 90%;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  background-color: #ffffff;
  padding: 0px;
  display: flex;
}
.search > input {
  border: transparent;
  height: 100%;
  width: 85%;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  padding-left: 24px;
  background-color: white;
  border-radius: 12px;
}
.search > input:focus {
  /* outline: none; */
}
.button-s {
  width: 27px;
  height: 33px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.icon-s{
  width: 27px;
  height: 33px;
  color: #bdbdbd;
  background-color: white;
}
.my-btn {
  width: 137px;
  height: 55px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  background-color:#004b07 !important;
  color: #ffffff;
}
.btn2{
  width: 164px;
}
.AddPicDisplay{
  display: none;
}
.modal {
  background-color: transparent;
}
.bi-emoji-frown{
  color: red;
}
.my-logo{
  width: 99px;
  height: 66px;
  margin-right: 15px;
}
.my-status{
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-status svg{
  font-size: 26px;
  margin-right: 15px;
  font-weight: bold;
}
.my-user{
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  text-align: center;
}
@media screen and (max-width: 770px) {
  .logo-s {
    flex-direction: column;
    align-items: center;
  }
  .header{
      flex-direction: column
  }
  .search{
    margin: 15px;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
